.navbar {
  width: 100vw;
  height: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px auto;
  padding: 15px 5%;
  position: sticky;
  box-shadow: 0 4px 30px rgba(211, 79, 237, 0.05);
  font-weight: 500;
}

.navbar > .dapp > .price > h2{
  color: rgb(255, 255, 255);
  text-shadow: 0px 3px 3px rgba(94, 241, 165, 0.5);
}

.navbar > .nav-logo img {
  width: 25%;
  margin: 15px;
  flex: 1;
}

.myButton {
  text-align: center;
  width: fit-content;
  height: 100%;
  background: #007991;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #007991); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd75c, #0079916f);

  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(211, 79, 237, 0.5);
  border: 1px solid rgb(81, 250, 213);
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}
.dapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

.dapp > .price {
  margin-right: 3rem;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 200;
  padding: 5px;
}
.myButton:hover {
  background-color: transparent;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.navbar > .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 15px;
  cursor: pointer;
  text-align: center;
}
.navbar > .nav-links > a {
  color: fff;
  text-decoration: none;
  margin: 15px;
  font-size: 18px;
  position: relative;
  opacity: 1;
  text-shadow: 0 0 5px #fff, 0 0 75px #49ff18, 2px 2px 2px rgba(65, 206, 161, 0);
}
.navbar > .nav-links > a:hover {
  opacity: 1;
  color: rgb(1, 195, 217);
  transition: 1s;
}
.navbar > .nav-links > .dapp {
  min-width: 150px;
  border: 2px solid rgba(138, 43, 226, 0.5);
  border-radius: 15px;
  background-color: rgba(138, 43, 226, 0.5);
  padding: 5px;
  margin-left: 50px;
  min-width: 98px;
}

.navbar > .nav-links > .dapp > a {
  padding: 5px;
  text-shadow: 2px 2px 2px #060606;
}

.navbar > .nav-links > .dapp:hover {
  border: 2px solid rgba(3, 149, 165, 0.5);
  border-radius: 15px;
  background-color: rgba(3, 149, 165, 0.5);
  padding: 5px;
  color: rgba(138, 43, 226, 1);
}

.navbar > .nav-links > a::before {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background: aquamarine;
  transition: all 0.45s;
}

.navbar > .nav-links > a:hover::before {
  width: 100%;
}
.navbar > .nav-toggle {
  display: none;
}

@media (max-width: 768px) {

  .navbar {
    margin-top: 1rem;
  }
  
  .navbar > .nav-logo img {
    width: 70%;
  }
}